:root{
    --main-color: #212121;
    --white-color: #C4C4C4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

.container{
    background-color: var(--main-color);
    width: 100%;
    min-height: 100%;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}
header.cabecalho-principal{
    width: 100%;
    height: 100px;
    padding: 10px;

}

header.cabecalho-principal h1{
    font-size: 40px;
    color: var(--white-color);
}

header.cabecalho-principal span{
    color: var(--white-color);
}

.menu-navegacao{
    background-color: darkgoldenrod;
    width: 100%;
    height: 30px;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-navegacao li{

    padding: 0px 10px;
}

.menu-navegacao li a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
}

main.conteudo-principal{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-color);
    padding: 10px;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.post-container{
    width: 30%;
    overflow: hidden;
    max-height: 300px;
}

main.conteudo-principal h3.titulo-post {
    color: var(--white-color);
    border-bottom: 2px solid darkgoldenrod;
    font-size: 30px;
    height: 50px;
    overflow: hidden;
    padding: 10px 0px;
    margin-bottom: 10px;
}

main.conteudo-principal h3.titulo-post:after{
    content:'...';
}

main.conteudo-principal h3.titulo-post a{

    font-size: 20px;
    text-align: left;
    text-decoration: none;
    margin: 2px 0px;
    color: var(--white-color);
}
main.conteudo-principal p.conteudo-post{
    color: var(--white-color);
    height: 100%;
    margin-bottom: 10px;
}


footer.roda-pe{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--white-color);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
}